@font-face 
    font-family: Tusker Grotesk
    src: url('/assets/font/TuskerGrotesk-8700Bold.ttf')


@font-face 
    font-family: Bai Jamjuree Regular
    src: url('/assets/font/BaiJamjuree-Regular.ttf')


@font-face 
    font-family: Bai Jamjuree Bold
    src: url('/assets/font/BaiJamjuree-Bold.ttf')